.vz-header {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: .5s;
  
  &.bg-color {
    background-color: white;
    box-shadow: 0 1px 15px 1px #cfcfcf59;
  }
}

.industries-menu {
  max-width: 1000px;
}

.solution-menu {
  max-width: 400px !important;
  .mega-menu-item {
    flex: unset !important;
    max-width: unset !important;
  }
}

.vz-sub-menu {
  color: white;
  text-shadow: 1px 1px 1px rgba(gray, 0.3);

  &.text-black {
    color: black;
  }

  &:hover {
    color: #f73e3f;
    .vz-toggle-sub--menu {
      &::after {
        color: #f73e3f;
      }
    }
  }
}

.vz-toggle-sub--menu {
  &::after {
    color: white;
  }

  &.arrow-black {
    &::after {
      color: black;
    }
  }
}

.vz-sub-menu--item {
  &:hover {
    color: #f73e3f;
  }
}
