.heading-title-hightlight {
  &::after {
    display: none;
  }
}

.our-investor-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
}

.block-gallery.layout-04 .item {
  height: 450px;
  img {
    height: 100%;
    object-fit: cover;
  }
  .title-content {
    text-transform: capitalize;
    color: var(--sala-alway-white, $neutral_white);
  }
  .desc {
    color: var(--sala-alway-white, $neutral_white);
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
  }
}

.vz-span {
  text-decoration: none;
  color: #f73e3f;
  &::after {
    display: none;
  }
}

.iframe-container {
    iframe {
        border: 1px solid #c9c9c9;
        border-radius: 6px;
    }
}

.block-image-box.layout-04 .image-box {
  border: none;
}
