.icon-box{
    margin-bottom: 30px;
    .icon + .content{
        margin-top: 24px;
    }
    .desc{
        margin-top: 16px;
    }
    .number{
        @include typo(56px, 1.11, 600);
        color: var(--sala-primary-navy, $primary_navy);
        margin-bottom: 30px;
    }
    &.p30{
        padding: 30px;
    }
    &.p48{
        padding: 48px;
    }
}
.block-icon-box{
    &.layout-01{
        .icon-box{
            margin-bottom: 60px;
            img{
                height: 64px;
                object-fit: cover;
            }
            .title{
                margin-top: 0;
            }
        }
        &.mb40 .icon-box{
            margin-bottom: 40px;
        }
    }
    &.layout-02{
        .icon-box{
            border: 1px solid var(--sala-border-line, $border_line);
            @include border-radius(5px);
            margin-bottom: 30px;
            height: calc(100% - 30px);
            .content{
                padding: 0;
            }
        }
        &.br20 .icon-box{
            @include border-radius(20px);
        }
        &.icon64{
            .icon img{
                height: 64px;
            }
        }
    }
    &.layout-03{
        .icon-box{
            border: 1px solid var(--sala-border-line, $border_line);
            @include border-radius(5px);
            margin-bottom: 30px;
            .inner{
                @include d-flex;
                align-items: center;
                justify-content: space-between;
            }
            .icon{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100px;
                flex: 0 0 100px;
                max-width: 100px;
            }
            .desc{
                margin-top: 10px;
                font-size: 18px;
                line-height: 1.44;
            }
            img{
                height: 100%;
            }
            .content{
                padding: 0;
                margin: 0;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100% - 148px);
                flex: 0 0 calc(100% - 148px);
                max-width: calc(100% - 148px);
            }
        }
    }
    &.layout-04{
        .icon-box{
            text-align: center;
            margin-bottom: 30px;
            border: 1px solid var(--sala-border-line, $border_line);
            @include border-radius(5px);
            .title{
                font-size: 32px;
            }
            .desc{
                margin-top: 24px;
                font-size: 18px;
                line-height: 1.44;
            }
            .tel{
                @include typo(24px, 1.33, 600);
                color: var(--sala-neutral-dark, $neutral_dark);
                margin-top: 24px;
                display: inline-block;
            }
        }
    }
    &.layout-05{
        .icon-box:not(:last-child){
            margin-bottom: 32px;
        }
        .inner{
            @include d-flex;
            justify-content: space-between;
        }
        .icon{
            @include flex-w(50px);
            i{
                @include d-flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border: 1px solid var(--sala-primary-navy, $primary_navy);
                font-size: 24px;
                color: var(--sala-primary-navy, $primary_navy);
                @include border-radius(20px);
            }
        }
        .content{
            margin-top: 0;
            @include flex-w(calc(100% - 70px));
            .desc{
                margin-top: 8px;
            }
        }
    }
    &.layout-06{
        .icon{
            width: 50px;
            height: 50px;
            @include border-radius(50%);
            @include d-flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            color: var(--sala-alway-white, $neutral_white);
        }
    }
    &.layout-07{
        .title{
            @include typo(18px, 1.44, 500);
        }
    }
    &.border-right{
        .row{
            > div:first-child .icon-box{
                padding-left: 0;
            }
            > div:last-child .icon-box{
                padding-right: 0;
                border: 0;
            }
        }
        .icon-box{
            padding: 32px 60px;
            border-right: 1px solid var(--sala-border-line, $border_line);
            margin: 0 0 30px 0;
        }
    }
    &.layout-08{
        .icon-box{
            padding: 40px;
            @include border-radius(5px);
            border: 1px solid var(--sala-border-line, $border_line);
            text-align: center;
            .content{
                margin-top: 40px;
            }
            .desc{
                margin-top: 8px;
            }
        }
        .icon{
            width: 80px;
            height: 80px;
            @include border-radius(50%);
            @include d-flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            i{
                font-size: 48px;
                color: var(--sala-alway-white, $neutral_white);
            }
        }
    }
    &.item-grey .icon-box{
        background-color: var(--sala-shade-background, $shade_background);
    }
    &.layout-09{
        .icon-box{
            @include border-radius(4px);
            padding: 40px;
            text-align: center;
        }
        .number{
            width: 40px;
            height: 40px;
            @include border-radius(50%);
            background-color: var(--sala-primary-navy, $primary_navy);
            display: block;
            font-size: 24px;
            color: var(--sala-alway-white, $neutral_white);
            line-height: 40px;
            text-align: center;
            margin: 0 auto;
        }
        .title{
            font-weight: 500;
            margin-bottom: 16px;
        }
    }
    &.layout-10{
        .number{
            @include typo( 100px, 1.1, 400 );
            color: var(--sala-border-line, $border_line);
            margin-bottom: 8px;
        }
        .content{
            padding-left: 60px;
            padding-right: 40px;
            .title{
                @include typo( 24px, 1.1, 600 );
                margin-bottom: 16px;
            }
            .desc{
                @include typo( 18px, 1.3, 400 );
            }
        }
    }
    &.layout-11{
        .inner{
            @include d-flex;
            justify-content: space-between;
        }
        .icon{
            @include flex-w(80px);
            i{
                @include d-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                font-size: 48px;
                color: var(--sala-primary-navy, $primary_navy);
                background-color: var(--sala-shade-background, $shade_background);
                @include border-radius(50%);
            }
        }
        .content{
            margin-top: 0;
            @include flex-w(calc(100% - 112px));
            .desc{
                margin-top: 8px;
            }
        }
    }
    &.layout-12{
        .icon-box{
            margin-bottom: 24px;
            padding-bottom: 24px;
            border-bottom: 1px solid var(--sala-border-line, $border_line);
            &:last-child{
                border-bottom: 0;
            }
            .inner{
                @include d-flex;
                align-items: flex-start;
                justify-content: space-between;
                .content{
                    margin: 0;
                    @include flex-w(calc(100% - 85px));
                }
                .icon{
                    @include flex-w(60px);
                }
            }
        }
    }
    &.layout-13{
        .inner{
            @include d-flex;
        }
        .icon{
            width: 64px;
            height: 64px;
            @include flex-w(64px);
            @include border-radius(50%);
            @include d-flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            color: var(--sala-alway-white, $neutral_white);
        }
        .content{
            margin-left: 28px;
            margin-top: 0;
        }
        .desc{
            margin-top: 8px;
        }
    }
    &.layout-14{
        .icon-box{
            border: 1px solid var(--sala-border-line, $border_line);
            @include border-radius(20px);
            margin-bottom: 30px;
            height: calc(100% - 30px);
            padding: 50px 30px;
            .content{
                padding: 0;
            }
        }
        .icon img{
            height: 64px;
        }
    }
    &.layout-15{
        .icon-box{
            @include d-flex;
            align-items: center;
            padding: 28px;
            @include border-radius(30px);
            background-color: var(--sala-neutral-white, $neutral_white);
            justify-content: space-between;
            .icon{
                @include flex-w(64px);
                @include border-radius(50%);
                background-color: var(--sala-shade-background, $shade_background);
                height: 64px;
                @include d-flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 36px;
                    color: var(--sala-neutral-dark, $neutral_dark);
                }
            }
            .title{
                @include typo(24px, 1.33, 600);
            }
            .desc{
                margin-top: 8px;
            }
            .content{
                margin-top: 0;
                @include flex-w(calc(100% - 92px));
            }
        }
    }
    &.layout-16{
        .item{
            @include d-flex;
            align-items: center;
            margin-bottom: 32px;
            justify-content: space-between;
        }
        .icon{
            width: 100px;
            height: 100px;
            @include border-radius(50%);
            @include d-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--sala-shade-background, $shade_background);
        }
        .content{
            @include flex-w(calc(100% - 125px));
            .title{
                @include typo(24px, 1.33, 600);
                margin-bottom: 8px;
            }
        }
    }
    &.layout-17{
        margin-top: 40px;
        .item{
            @include d-flex;
            align-items: center;
            .icon{
                margin-right: 24px;
            }
            .title{
                @include typo(18px, 1.44, 500);
                color: var(--sala-alway-dark, $neutral_dark);
            }
            .desc{
                @include typo(32px, 1.25, 500);
                color: var(--sala-alway-dark, $neutral_dark);
            }
        }
    }
    &.layout-18{
        .icon-box{
            background-color: #212020;
            padding: 25px 20px;
            height: calc(100% - 30px);
            @include border-radius(5px);
            text-align: center;
            i{
                font-size: 28px;
                color: var(--sala-primary-navy, $primary_navy);
                margin-bottom: 20px;
            }
            .title{
                color: var(--sala-alway-white, $neutral_white);
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .block-icon-box{
        &.layout-17{
            .item{
                margin-top: 30px;
            }
        }
    }
}
@media (max-width: 992px) {
    .block-icon-box{
        &.border-right{
            .icon-box{
                padding: 0;
                border-right: 0;
            }
        }
        &.layout-10{
            .item{
                margin-bottom: 30px;
            }
            .content{
                padding-right: 0;
            }
        }
    }
}
@media (max-width: 768px) {
    .icon-box{
        margin-bottom: 30px;
        .content{
            padding-right: 0;
        }
        &.layout-02{
            padding: 20px !important;
        }
    }
    .block-icon-box.layout-01 .icon-box{
        margin-bottom: 30px;
        .icon + .content{
            padding-right: 0;
        }
    }
}
@media (max-width: 576px) {
    .block-icon-box{
        &.layout-03{
            .icon-box{
                text-align: center;
                padding: 20px;
                .icon{
                    margin-bottom: 32px;
                }
                .inner{
                    flex-wrap: wrap;
                    flex-direction: column;
                }
                .content{
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        &.layout-17{
            margin-top: 0;
            .item{
                .icon{
                    margin-right: 12px;
                }
                svg{
                    width: 40px;
                }
                .title{
                    font-size: 14px;
                }
                .desc{
                    font-size: 18px;
                }
            }
        }
    }
}