.partner-box{
    padding: 28px;
    border: 1px solid var(--sala-border-line, $border_line);
    @include border-radius(5px);
    text-align: center;
    img{
        height: 64px;
        object-fit: cover;
    }
}

.block-partner{
    &.no-border{
        .partner-box{
            border: 0;
            padding: 0;
        }
    }
    &.layout-01{
        .partner-box{
            margin-bottom: 80px;
        }
        img{
            width: 80px;
            height: 80px;
            object-fit: cover;
            @include border-radius(50%);
        }
    }
}

@media (max-width:992px) {
    .partner-box{
        margin-bottom: 30px;
    }
}