.block-project {
  .item {
    position: relative;
    margin-bottom: 140px;
    .title {
      @include typo(18px, 1.3, 400);
      position: absolute;
      right: calc(100% + 10px);
      bottom: -20px;
      white-space: nowrap;
      @include transform(rotate(90deg));
      transform-origin: top right;
    }
  }
}
@media (max-width: 992px) {
  .pdr50 {
    padding-right: 30px;
  }
  .pdl50 {
    padding-left: 30px;
  }
  .block-project {
    .item {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 768px) {
  .pdr50 {
    padding-right: 0;
  }
  .pdl50 {
    padding-left: 0;
  }
  .block-project {
    .spdt {
      padding-top: 0;
    }
    .item {
      padding-left: 40px;
      img {
        width: 100%;
      }
      .title {
        right: calc(100% - 30px);
        color: yellow;
      }

      .number {
        .red {
          color: red;
        }
      }
    }
  }
}
